.align-bottom, v-textfield-align-bottom {
    margin-top: 24px !important;
}

.valo .v-margin-top {
    padding-top: 5px !important;
}

.valo .v-margin-bottom {
    padding-bottom: 5px !important;
}

.small-combo {
    width: 90px !important;
}

.v-caption-pounding-slider {
    text-align: center !important;
}

.v-slot-cache-layout {
    background-color: aquamarine;
}

.v-slot-dataset-layout {
    background-color: beige;
}

.v-slot-shift-bottom-right-offheap {
    top: 35px;
    left: 120px;
}

.v-slot-shift-bottom-right-disk {
    top: 35px;
    left: 140px;
}
/*.v-widget {*/
/*vertical-align: bottom!important;*/
/*}*/