.align-bottom, v-textfield-align-bottom {
    margin-top: 24px !important;
}

.valo .v-margin-top {
    padding-top: 5px !important;
}

.valo .v-margin-bottom {
    padding-bottom: 5px !important;
}

.small-combo {
    width: 90px !important;
}

.v-caption-pounding-slider {
    text-align: center !important;
}

.cache-layout {
    background-color: aquamarine;
}

.dataset-layout {
    background-color: beige;
}

.voltron-config-layout {
    background-color: #c8bde2;
}

.voltron-control-layout {
    background-color: #e299a8;
}

.v-slot-shift-bottom-right-offheap {
    top: 35px;
    left: 8%;
}

.v-slot-shift-bottom-right-disk {
    top: 35px;
    left: 10%;
}

.v-slot-shift-bottom-right-index {
    top: 35px;
    left: 6%;
}

.tc-config-xml {
    font-family: monospace !important;
    font-size: 11px !important;;
}

.valo .v-textfield-readonly {
    background-color: lightgrey !important;
}

.valo .v-label {
    font-weight: bold !important;
}

.v-captiontext {
    font-weight: bold !important;
}

.v-checkbox > label {
    font-weight: bold !important;
}

/*.v-widget {*/
/*vertical-align: bottom!important;*/
/*}*/