$v-font-size: 14px;
$v-line-height: 1.2;

$v-layout-margin-top: 16px;

$v-layout-margin-bottom: 16px;

@import "../valo/valo";

.tinypounder {
  @include valo;
}

.align-bottom, v-textfield-align-bottom {
  margin-top: 18px !important;
}

.align-bottom3, v-textfield-align-bottom3 {
  margin-top: 3px !important;
}

.align-top {
  top: -5px !important;
}

.valo .v-margin-top {
  padding-top: 5px !important;
}

.valo .v-margin-bottom {
  padding-bottom: 5px !important;
}

.valo .v-margin-left {
  padding-left: 10px !important;
}

.small-combo {
  width: 90px !important;
}

.v-caption-pounding-slider {
  text-align: center !important;
}

.cache-layout {
  border: 1px solid black;
}

.dataset-layout {
  border: 1px solid black;
}

/*.voltron-config-layout {
  background-color: #c8bde2;
}*/

/*.voltron-control-layout {
  background-color: #e299a8;
}*/

.v-slot-shift-bottom-right-offheap {
  top: 28px;
  left: 5em;
}

.v-slot-shift-bottom-right-disk {
  top: 28px;
  left: 5em;
}

.v-slot-shift-bottom-right-index {
  top: 28px;
  left: 2em;
}

.v-slot-datasetAttribute {
  margin-left: 3em;
}

.v-checkbox-bottom {
  top: 2em;
}

.v-button-datasetAttribute {
  top: 1em;
}

.v-label-instance {
  margin-top: .5em;
  margin-left: 1em;
}

.v-slot-greyBackground {
  background-color: #EAEAEA;
}

.v-slot-instance {
  top: .7em;
}

.tc-config-xml {
  font-family: monospace !important;
  font-size: 11px !important;
}

textarea.console {
  font-family: monospace !important;
  font-size: 11px !important;
  background-color: black !important;;
  color: white !important;
  overflow: auto !important;;
  height: 500px;
  min-height: 500px !important;;
  resize: vertical !important;
}

.valo .v-textfield-readonly {
  background-color: lightgrey !important;
}

.valo .v-label {
  font-weight: bold !important;
}

.v-captiontext {
  font-weight: bold !important;
}

.v-checkbox > label {
  font-weight: bold !important;
}

.v-caption-on-top > .v-caption, .v-caption-on-bottom > .v-caption {
  /*display: inline-block !important;*/
  padding-right: 10px !important;
}

td.v-tabsheet-tabitemcell-tab-absolute-right {
  position: absolute;
  right: 0px;
}

.v-tabsheet-tabs {
  width: 100%;
}

.v-slot-delete {
  width: 20% !important;
  top: 18px;
}

.v-slot-base {
  width: 80% !important;
}

.v-tabsheet-tabitem-selected .v-caption {
  border-style: outset;
}

.v-slot-server-grid table tr:nth-child(4n) td {
  border-bottom: 1px solid black;
}
